section {
	background: url('../images/aviation_bg.png');
	height: 100%
}

article {
	background: url('../images/aviation_homepage_bg.png') 0px -50px;
}

.description {
	margin-left: 20px;
	height: 150px;
}