section {
	background: url('../images/aviation_bg.png');
	 
	background-size:100% 95%;
	
    
}

article {
	background: url('../images/aviation_homepage_bg.png');

	
}

.description {
	margin-left: 20px;
	height: 270px;
	background-position:center bottom;
	
}