section {
 	background: url('../images/aviation_bg.png'); 
}

article {
	margin-left: 10px;	
	height: 570px;
}

article h2 {
	color: #192733;
	text-shadow: none;
}

.description {
	margin-left: 20px;
	background-position:center bottom;
	width: 340px;
}

.description ul {
	margin-left: 20px;
}

