@import url("/html/css/common.css");
@import url("index.css");

body {
	background-color: #192733;
}

section {
 	background: url('../images/aviation_bg.png'); 
}

article {
	margin-left: 10px;	
	height: 570px;
	background: none;
}

article h2 {
	color: #192733;
	text-shadow: none;
	margin-left: 0px;
	padding-top: 40px;
}

.description, .promo {
	display: inline-block;
}

.description {
	margin-left: 20px;
	background-position:center bottom;
	width: 340px;
	margin-right: 170px;
	vertical-align: top;
}

.promo img {
	height: 550px;
}

.description ul {
	margin-left: 20px;
}

